<h2>Video challenge submitted by {{model.username}}</h2>
<h4>Description: {{model.videodescription}}</h4>


<iframe class="video-frame" src={{model.videourl}} frameborder="0" allowfullscreen></iframe>
