<div class="container">
  <div class="row">
    <div class="col-md-8">

      {{video-display model=model}} {{review-display model=model}}

    </div>
    <div class="col-md-4">
      <p class="saveReviewButton">{{new-review saveReview="saveReview" video=model}}</p>
      <ul class="list-group">
				<li class="list-group-item"><strong>"I found my dream project" - <br> Goku </strong></li>
				<li class="list-group-item"><img src="/assets/images/beer.jpg"> </li>
				<li class="list-group-item"><strong>
		  			"New challenges every week" - <br> Vegeta</strong>
				</li>
				<li class="list-group-item"><strong>"Great place to find Ad challenges" - <br> Naruto </strong></li>
				<li class="list-group-item"><img src="/assets/images/game.jpg"></li>
				<li class="list-group-item"><strong>"I found my dream project" - <br> Goku </strong></li>
				<li class="list-group-item">
				<img src="/assets/images/vr.jpeg"></li>

			</ul>
    </div>
  </div>
  <!-- End of Row -->
</div>
<!-- End of container-->
